@tailwind base;
@tailwind components;
@tailwind utilities;

@use "@material/card";

@include card.core-styles;

.bg-dotted {
  background-image: radial-gradient(#2e2e2e 1px, transparent 1px);
  background-size: 20px 20px;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.my-card-content {
  padding: 16px;
}

.dark .react-flow__node {
  background: #00162b;
  color: rgb(42, 114, 165);
}

.light .react-flow__node {
  background: #ffffff;
  color: #111;
}
